######################################################################
# Anwendung
######################################################################

APP_NAME="Lara Test"
APP_ENV=local
APP_URL=http://lara-test
APP_LOCALE=de
APP_TIMEZONE=Europe/Zurich
APP_KEY=base64:YnViSB02Sxn5TMP4e0I4WrXCUBO42Udpe6vasfmwk/s=
APP_DEBUG=true

APP_DEBUG_MODE=true
APP_AUTH_MODE=local
APP_ADMIN_GROUP=ditto-admins
APP_USER_GROUP=ditto-users

PWA_ENABLED=true
PWA_NAME="${APP_NAME}"
PWA_SHORT_NAME="${APP_NAME}"
PWA_THEME_COLOR="#1D4E8F"

PWA_PUSH_ENABLED=true
VAPID_PUBLIC_KEY=1234
VAPID_PRIVATE_KEY=1234

######################################################################
# Unternehmen
######################################################################

COMPANY_NAME="Muster AG"
COMPANY_PHONE="support@muster.ch"
COMPANY_EMAIL="+41 81 123 45 67"

######################################################################
# Datenbank
######################################################################

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lara-test
DB_USERNAME=root
DB_PASSWORD=Password!

######################################################################
# LDAP
######################################################################

LDAP_HOST=dc1.sitak.local
# LDAP_PORT=636
# LDAP_SSL=true
# LDAP_TLS=false
LDAP_USERNAME=ums@sitak.local
LDAP_PASSWORD=Password!
LDAP_BASE_DN=DC=sitak,DC=local
LDAP_DOMAIN_NAME=SITAK
LDAP_SYNC_OU="OU=Intern,OU=Test,DC=sitak,DC=local"
LDAP_LOGGING=true

######################################################################
# Mail
######################################################################

MAIL_MAILER=smtp
MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_USERNAME=patrik@sitak.ch
MAIL_PASSWORD=pcmskwywmdjfcywx
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="info@sitak.ch"
MAIL_FROM_NAME="${APP_NAME}"

######################################################################
# Sessions / Queue / Cache / Logging
######################################################################

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_DOMAIN=lara-test
QUEUE_CONNECTION=database
LOG_LEVEL=debug
CACHE_STORE=database

######################################################################
# Diverses
######################################################################

VITE_APP_NAME="${APP_NAME}"


